
.card-father *{
    perspective: 1000px;
}
.card{

    height: 100%;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    margin: 0 auto;
}
.card__element__title{
    z-index: 3;
}
.card__element__icon{
    z-index: 2;
}

.triangle--card,
.card__element__icon,
.card__element__title{
    transition: all 0.75s ease-out;
}
