.fade-in{
    opacity: 0;
    transition: all 1.5s ease-in-out;
}
.fade-in--left{
    transform: translateX(-100%);
}
.fade-in--right{
    transform: translateX(100%);
}
.appear{
    opacity: 1;
    transform: translateX(0) !important;
}