.flex-container{ 
    display: flex;
    flex-direction: row;
}
.flex-container--space-between{ 
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-container--space-evenly{
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.flex-container--column{
    display: flex;
    flex-direction: column;
}
.flex-container--center{
    align-items: center;
    justify-content: center;
}