.footer-section__section{
    position: relative;
    overflow: hidden;
}

.footer--title{
    font-size: 1.6em;
    margin: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: font-size 1s;
    top: 35%;
    z-index: 2;

    background: linear-gradient(to bottom,  #4C789D 0%, #FCFDFC 51%, var(--main-color) 65%, var(--main-color-light) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: bolder;
}
.footer__section--3::before {
    content: ' ';
    position: absolute;
    min-height: 100%;
    transform-origin: left;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2621168/triangle.svg') no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    z-index: 1;
}


.footer--subtitle{
    font-size: 1.6em;
    
    left: 50%;
    position: absolute;
    top: 55%;
    transform-origin: left;
    transform: translate(-25%, 0) rotate(-15deg);
    transition: font-size 1s;
    z-index: 2;

    
}
@media screen and (min-width:700px){
    .footer--subtitle{
        top: 60%;

        transform: translate(-45%, 0) rotate(-15deg);
    }    
    .footer--title{
        font-size: 2em;
    }
}