.footer-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.footer-section *{
    color: var(--deafault-white);
}
.footer-section__section--1{
    background-color: var(--default-dark-grey);
}
.footer-section__section--2{
    background-color: var(--default-light-grey);
}
.footer-section__section--3{
    background-color: var(--main-color);
}
.footer-section__section__image{
    width: 100%;
    
}
.footer-section__section__article{
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
}
.footer-section__section__article__li{
    margin: 1rem 0;
    display: block;
    text-align: center;
}
.footer-section__section__article__header{
    margin-bottom: 1rem;
}
.footer-section__section__article__ul--flex{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}


.box{
    width:85%;
    margin: auto;
    background-color: var(--deafault-white);
    padding: 1rem
}

@media screen and (min-width:425px){
    .footer-section{
        flex-direction: row;
    }    
    .footer-section__section{
        width: 33.33%;
    } 
}
@media screen and (min-width:768px){
    
}
@media screen and (min-width:1024px){
    
}