.header-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(28, 28, 28, 0.7)), url("https://cdn.dribbble.com/users/1590294/screenshots/5272939/ezgif-4-5f602abb23.gif") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;    
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
    background-size: cover;
    overflow-x: hidden;
    position:relative;
}
.header-section__about{
    color: var(--deafault-white);
}
.header-section__title-holder__title{
    font-size: 2.5em;
    margin: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: font-size 1s;
    top: 35%;
    z-index: 1;
}
.triangle {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 418px;
    transform-origin: left;
    transform: translate(-50%, -50%);    
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2621168/triangle.svg') no-repeat;
    width: 475px;
    z-index: 0;
}


.header-section__title-holder__subtitle{
    top: 55%;
    left: 50%;
    font-size: 2.5em;
    transform-origin: left;
    transform: translate(-45%, 0) rotate(-15deg);
    position: absolute;
    transition: font-size 1s;
    z-index: 2;
}

.header-section__about__content__subtitle3{
    color: var(--deafault-white);
    text-align: center;
}
.header-section__about__content{
    width: 100%;
    margin-bottom: 1rem;
}
.header-section__about{
    flex-direction: column; 
    justify-content: space-evenly;
    bottom: 5%;
    font-size: 2.5em;
    transform-origin: left;
    position: absolute;
    width: 90%;
    z-index: 2;
}
@media screen and (min-width:470px){

    .header-section__about__content{
        width: 33.33%;
    }
    .header-section__about{
        flex-direction: row;
    }
    .header-section__title-holder__title{
        font-size: 3.5em;
    }
}