.header-section{
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(28, 28, 28, 0.7)), url("https://cdn.dribbble.com/users/1590294/screenshots/5272939/ezgif-4-5f602abb23.gif") no-repeat;
    background-attachment: fixed;
    background-position: center;    
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size:cover;
    background-size: cover;
    overflow: hidden;
    position:relative;
}
.header-section__about{
    color: var(--deafault-white);
}
.header-section__title-holder__title{
    font-size: 2.5em;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 35%;
    transform: translate(-50%, -170%);
    transition: font-size 1s;
    z-index: 1;
}
.triangle,
.title-holder:before{
    content: "";
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2621168/triangle.svg') no-repeat;
    background-position: center;
    background-size: contain;
    left: 50%;
    min-height: 32em;
    position: absolute;
    top: 50%;
    transform-origin: left;
    transform: translate(-50%, -65%);    
    width: 83%;
    z-index: 1;
}


.header-section__title-holder__subtitle{
    font-size: 1.8em;
    left: 50%;
    position: absolute;
    top: 45%;
    transform-origin: left;
    transform: translate(-45%, -125%) rotate(-15deg);
    transition: font-size 1s;
    z-index: 2;
}

.header-section__about__content__subtitle3{
    color: var(--deafault-white);
    text-align: center;
    font-size: 1rem;

}
.header-section__about__content{
    margin-bottom: 1rem;
    width: 100%;
}
.header-section__about{
    bottom: 5%;
    font-size: 2.5em;
    flex-direction: column; 
    justify-content: space-evenly;
    position: absolute;
    transform-origin: left;
    width: 90%;
    z-index: 2;
}
@media screen and (min-width:470px){

    .header-section__about__content{
        width: 33.33%;
    }
    .header-section__about{
        flex-direction: row;
    }
    .triangle,
    .title-holder:before{
        background-size: auto;
        width: 26em !important;
    }
    .title-holder:before,
    .header-section__title-holder__title{
        font-size: 4.7em;
        transform: translate(-50%, -50%);

    }
    
    .header-section__title-holder__subtitle{
        font-size: 2.6em;
        transform: translate(-45%, 0) rotate(-15deg);
        top: 55%;


    }
    

}