/* .header-fixed
.header-fixed__navbar-brand
.header-fixed__menu
.header-fixed__menu__list
.header-fixed__menu__list__item
.header-fixed__menu__list__item__link */

.header-fixed__navbar-brand, .header-fixed__menu__list__item__link{
    font-size: var(--extra-large-font-size);
    font-family: 'Orbitron', sans-serif;
}

.header-fixed{
    align-items: center;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width:100%; 
    z-index: 99;
}
.header-fixed__menu__list{
    align-items: center;
    background-color: var(--main-color-transparent);
    display: flex;
    flex-direction: column;
    height: calc(92vh + 1rem); 
    justify-content: space-around;
    position: absolute;
    right: 0;
    top: calc(8vh - .5rem);
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    width: 50%;
    align-items: center;
}

.burger{
    cursor: pointer;

}
.burger .burger__line1,
.burger .burger__line2,
.burger .burger__line3{
    background-color: var(--default-black);
    height: .25rem;
    margin: .25rem;
    width: 1.5rem;
}
.burger .burger__line3{
    width: .75rem;
    transition: 0.2s ease-in-out;
}
.burger:hover .burger__line3{
    width: 1.5rem;
}

.menu--active{
    transform: translateX(0);
}

