/* .header-fixed
.header-fixed__navbar-brand
.header-fixed__menu
.header-fixed__menu__list
.header-fixed__menu__list__item
.header-fixed__menu__list__item__link */

.header-fixed__navbar-brand,
.header-fixed__navbar-brand__link, .header-fixed__menu__list__item__link{
    font-size: var(--extra-large-font-size);
    font-family: 'Orbitron', sans-serif;
    color: var(--deafault-white);
}

.header-fixed{
    align-items: center;
    height: 10vh;
    background-color: var(--default-black-shadow);
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width:100%; 
    z-index: 99;
}
.responsive-navbar__nav-list__list-el--social-links{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.white-icon{
    color: var(--deafault-white);
    font-size: 2rem;
}
.header-fixed__menu__list{
    align-items: center;
    background-color: var(--default-black-shadow);
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-around;
    position: absolute;
    right: 0;
    top: 10vh;
    transform: translateY(calc(-100% - 10vh));
    transition: transform 0.5s ease-in-out;
    width: 100%;
    align-items: center;
}

.burger{
    cursor: pointer;

}
.burger .burger__line1,
.burger .burger__line2,
.burger .burger__line3{
    background-color: var(--deafault-white);
    height: .25rem;
    margin: .25rem;
    width: 1.5rem;
}
.burger .burger__line3{
    width: .75rem;
    transition: 0.2s ease-in-out;
}
.burger:hover .burger__line3{
    width: 1.5rem;
}

.menu--active{
    transform: translateX(0);
}

