.main-content{
    background-color: var(--deafault-white);
    padding: 2rem 0;
}
.main-content__title{
    margin-bottom: 1rem;
    text-align: center;
}
.main-content__title--featured{
    color: var(--second-color)
}
.main-content--apresentation{
    background-color: var(--default-black);
    min-height: 80vw;
    padding: 2rem 0;
}