.portfolio{
    padding: 2rem 0;
    background-color: var(--deafault-white );    
}
.portfolio__article{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2rem auto;
}
.portfolio__article__img{
    object-fit: cover;
    transition: .5s ;
    z-index: 1;
}
.portfolio__article__img--aside{
    height: 8em;
}
.portfolio__article__img:hover {
    box-shadow: 1em 1em 0rem var(--second-color);
}
.content-holder{
    padding: 2rem;
    background-color: var(--deafault-white);
}
.portfolio__article__paragraph{
    text-align: justify;
    vertical-align: middle;
}
.portfolio__article__h3{
    border-bottom: 1px solid var(--custom-grey);
    margin-bottom: 2rem;
}
.portfolio__aside{
    flex-direction: column;
    width: 100%;
}


@media screen and (min-width:425px){
    .portfolio__article--main{
        margin: 0 auto;
        width: 95%;
    }
    .portfolio__article--aside{
        width: 45%;
        
    }
    .portfolio__aside{
        flex-direction: row;
    }
}
@media screen and (min-width:768px){
    .portfolio__flex-container{
        justify-content: center;
    }
    .portfolio__flex-container__main{
        width: 50%;
        background-color: none;
    }
    .portfolio__aside
    {
        width: 40%;
    }
    .portfolio__article__img--aside{
        width: 50%;
        height: 100%;
    }
    .portfolio__article--main,
    .portfolio__article--aside{
        margin: 0;
        margin-bottom: 1rem;       
    }
    .portfolio__article--aside{
        height: calc(50% - 1rem);
    }
    .portfolio__article--aside{
        width: 100%;
    }
    .portfolio__aside{
        flex-direction: column;
    }
    .portfolio,
    .portfolio__article--aside{
        flex-direction: row;
    }
}
@media screen and (min-width:1024px){
    
}