.portfolio{
    padding: 2rem 0;
    background-color: var(--deafault-white );    
}
.portfolio__article{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2rem auto;
    border: 1px solid var(--default-black);
    box-shadow: 0 0 1rem var(--main-color);
}
.portfolio__article__img{
    box-sizing: border-box;
}
.content-holder{
    padding: 1rem;
    background-color: var(--deafault-white);
}
.portfolio__article__paragraph{
    text-align: justify;
}
.portfolio__article__h3{
    padding: 1rem;
}
.portfolio__aside{
    flex-direction: column;
    width: 100%;
}


@media screen and (min-width:425px){
    .portfolio__article--main{
        margin: 0 auto;
        width: 95%;
    }
    .portfolio__article--aside{
        width: 45%;
        
    }
    .portfolio__aside{
        flex-direction: row;
    }
}
@media screen and (min-width:768px){
    .portfolio__flex-container{
        justify-content: center;
    }
    .portfolio__flex-container__main{
        width: 60%;
    }
    .portfolio__aside
    {
        width: 30%;
    }
    .portfolio__article--main,
    .portfolio__article--aside{
        margin: 0;
        margin-bottom: 2rem;
        
    }
    .portfolio__article--aside{
        width: 100%;
    }
    .portfolio__aside{
        flex-direction: column;
    }
    .portfolio{
        flex-direction: row;
    }
}
@media screen and (min-width:1024px){
    
}