/*Import Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root{
    --main-color: #650D89;
    --main-color-light: #8d1bba;
    --main-color-deep: #460a5e;
    --main-color-transparent: #660d89a5;
    --second-color: #D40078;
    --second-color-heavy: #920075;
    --second-color-light: #F6019D;
    --deafault-white: #fbfdfa;
    --custom-grey: #452484;
    --deafult-transparent-white: #fbfdfa8b;
    --default-black: #0d0221;
    --default-dark-grey: #261447;
    --default-light-grey: #150f2e;
    --default-black-shadow: #0d0221f0;
    --small-font-size: 1.1rem;   
    --medium-font-size: 1.5rem;
    --large-font-size: 2rem;
    --extra-large-font-size: 2.5rem;   
}

html{
    color: var(--default-black);
    scroll-behavior: smooth;
    font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--small-font-size);
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
span{
    text-shadow: 2px 3px #000000 ;
}

h1,h2,h3, .title{
    font-family: 'Lato', sans-serif;
    color: var(--main-color);
}


h1{font-size: var(--extra-large-font-size)}
h2{font-size: var(--large-font-size)}
h3{font-size: var(--medium-font-size)}
h4{font-size: var(--small-font-size)}

a{
    text-decoration: none;
    color: var(--default-black);
}

.anchor-tag-white{
    color: var(--deafault-white);
}

img{
    width: 100%;
}
*{
    box-sizing: border-box;
}
.center{
    text-align: center;
}

p{
    line-height: 1.3 !important;
}
.black{
    color: var(--default-black) !important;
}