.what-i-do{
    min-height: 80vh;
}
.what-i-do__article{
    position: relative;
    width: 90%;
    margin: 1rem auto;
}
.what-i-do__article__title{
    border-bottom: 1px solid var(--custom-grey);
    margin-bottom: 2rem;
}
.what-i-do__article__content{
    text-align: justify;
    margin-bottom: 1rem;
}

.what-i-do__article__aside{
    height: 100%;
}
.what-i-do__article__aside__img--app{
    object-fit: contain;
    content: "";
    height: 100%;
    width:  100%;
    z-index: 2;
}

@media screen and (min-width:425px) {
    .what-i-do__article{
        width: 100%;
    }
    .what-i-do__article{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 50%
    }
    
    .what-i-do__article--apps{
        flex-direction: row-reverse;
    }
    
    .what-i-do__article__main
    ,.what-i-do__article__aside{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 43%;
    }
    .what-i-do__article__aside__img--app{
        transform: rotate(90deg) translateY(15%);
    }
    .what-i-do__article__aside__img--web{
        transform: translateX(15%);
    }
}
@media screen and (min-width:768px){
    .what-i-do__article__aside{
        width: 45%;
        overflow: visible;

    }

}    
@media screen and (min-width:1024px){
    
}