.what-i-do{
    height: 80vh;
}
.what-i-do__article{
    position: relative;
}
.what-i-do__article__title__title{

}
.what-i-do__article__title__content{

}
.what-i-do__article{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 50%
}
.what-i-do__article--apps{
    flex-direction: row-reverse;
}
.what-i-do__article__main
,.what-i-do__article__aside{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 45%;
}
.what-i-do__article__aside{
    height: 100%;
}
.what-i-do__article__aside__img--app{
    object-fit: contain;
    content: "";
    height: 100%;
    transform: rotate(90deg);
    width:  100%;
    z-index: 2;
}