.who-i-am{
    background: linear-gradient(to bottom , black, var(--main-color));
    min-height: 100vh;
}
.who-i-am__article{
    background-color: var(--deafault-white);
}
.who-i-am__article__title{
    color: var(--default-dark-grey);
}
